.btn {
  position: relative;

  .cart-count {
    position: absolute;
    top: 0;
  }
}

.cart-dropdown-container {
  position: absolute;
  right: 10px;
  top: 60px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  z-index: 5;

  .cart-items-container {
    height: 280px;
    overflow-y: scroll;

    .cart-item-container {
      display: flex;
      justify-content: space-around;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      a {
        flex-basis: 50%;
      }

      img {
        width: 50%;
        float: left;
      }

      h5 {
        flex-basis: 50%;
        text-align: left;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
    }
  }
}

.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 20;
}
